<div class="span-24	">
	<div class="prepend-10 span-20 last" style="height:100%; vertical-align: middle">
		  <%= image_tag "network.jpg", :size => "100x120", :alt => "Network", :usemap => '#NetworkMap' %>
	</div>
  <br/>
	<div class="span-24 last">
      <%= link_to "login", "/auth/strata", :class => 'signup_button round' %>
	</div>
</div>
